CompileFlags:
  CompilationDatabase: "build"
  Add: [
    -Wno-unused-include,
    -I/usr/include/x86_64-linux-gnu, # GCC-specific headers
    -I/usr/include/c++/14.1.1/, 
    -I/usr/include/c++/14.1.1/x86_64-pc-linux-gnu/, 
    --include-directory=/usr/include, 

    -Wno-unused-include,
  ]
  Compiler: gcc
Diagnostics:
  UnusedIncludes: None
  Suppress:
    - drv_unsupported_opt_for_target
